
<%=form_tag '/' do %>
  <p>Product: <%=text_field_tag :'product' %></p>
  <%=submit_tag "add to cart"%>
<%end%>

<% cart.each do |item| %>
  <%= item %>
<%end%>

<%# need to include  'helper_method :cart' under ApplicationController in order for the cart method to work,
otherwise we would need to use session[:cart]
